.section1{
    border-bottom: 1px solid #DADCDE;
    min-height: 100vh;
    padding-left: 3rem;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section1-div{
        max-width: 75rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        
        // Buraya ve alt tarafa padding eklendi, sonra bunlar kontrol edilecek
            h1{
                .pri-color{
                    color: $navPriColor;
                }
            }
            .subheading{
                font-size: 1.125rem;
                margin-bottom: 2rem;
                color: #6C757D;
                a{
                    color: $navPriColor;
                    text-transform: uppercase;
                }
            }
        
            p{
                font-size: 1.15rem;
                font-weight: 100;
                margin-bottom: 2rem;
                color: #6C757D;
            }
        .social-icons{
            display: flex;
            column-gap: 2rem;
            .social-icon{
                height: 3.5rem;
                width: 3.5rem;
                border: 1px solid $iconBorderColor;
                background-color: $iconBorderColor;
                color: white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
        }
    }
}

.section2{
    @extend .section1;
    padding: 5rem 3rem;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section2-div{
        @extend .section1-div;
        p, .date{
            font-size: 1rem;
        }
        .date{
            color: $navPriColor;
            font-size: 1.12rem;
            flex-shrink: 0;
        }
        .subheading{
            color: $iconBorderColor;
            
        }
        .section2-div1, .section2-div2, .section2-div3, .section2-div4{
            display: flex;
        }
        @media screen and (max-width: 768px){
            .section2-div1, .section2-div2, .section2-div3, .section2-div4{
                flex-direction: column;
            }
        }
    }
}

.section3{
    @extend .section1;
    padding: 5rem 3rem;
    row-gap: 2rem;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section3-div{
        @extend .section1-div;
        p, .field, .subheading{
            font-size: 1.12rem;
        }
        .date{
            color: $navPriColor;
            font-size: 1.12rem;
            flex-shrink: 0;
        }
        .subheading, .field{
            color: $iconBorderColor;
            
        }
        .section3-div1, .section3-div2{
            display: flex;
            justify-content: space-between;
        }
        @media screen and (max-width: 768px){
            .section3-div1, .section3-div2{
                flex-direction: column;
            }
        }
    }
}

.section4{
    @extend .section1;
    padding: 5rem 3rem;
    row-gap: 0.5rem;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section4-div{
        @extend .section1-div;
        .skill-icons{
            font-size: 3rem;
            display: flex;
            gap: 2rem;
            color: $iconBorderColor;
        }
        .workflow{
            color: $iconBorderColor;
            font-size: 1.125rem;
        }
        .workflow li:before {
            content: '✓';  
        }
        h2{
            margin-bottom: 3.5rem;
        }
        .subheading{
            margin-bottom: 0;
        }
    }
}

.section5{
    @extend .section1;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section5-div{
        @extend .section1-div
    }    
}
.section6{
    @extend .section1;
    padding: 5rem 3rem;
    row-gap: 0.5rem;
    @media  (max-width: 992px){
        padding-left: 1rem;
    }
    .section6-div{
        @extend .section1-div;
        ul{
            color: $iconBorderColor;
            font-size: 1.125rem;
            .fa-solid{
                color: #FFC107;
            }
        }
    }
}
