
.navbar{
    font-weight: 800;
    background-color: $navPriColor;
    color: $navFontColor;
    width: 17rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .navbar-collapse{
        width: 100vw;
        .navbar-nav:hover{
            cursor: pointer;
        }

        .navbar-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1.25rem;
            width: 100vw;
            text-transform: uppercase;
            a{
                color: $navFontColor;
                text-decoration: none !important;
            }
            li:hover{
                color: $navHoverColor;
            }
        }

    }
    
    img{
        max-height: 10rem;
        max-width: 10rem;
        border-radius: 50%;
        border: 0.5rem solid $imgBorderColor;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }
}

.active-nav {
    color: white !important;
}

.resume-photo{
    @media (max-width: 992px) {
        display: none;
    }
}


// Designed for mobile part below
.navbar{
    .name-toogle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .toogle{
        display: none;
        padding: 0.25rem 1rem;
        border-radius: 10%;
        background-color: $navPriColor;
        @media (max-width: 992px){
            display: block;
            border: 3px solid rgb(210, 210, 210);
            margin-right: 2rem;
        }
        div {
            width: 25px;
            height: 3px;
            background-color: rgb(210, 210, 210);
            margin: 6px 0;
          }
    }
    
    @media (max-width: 992px){
            overflow:visible;
            display: block;
            position: fixed;
            width: 100vw;
            height: 2.5rem;
            padding: 0.5rem 0 1rem 1rem;
            .navbar-nav{
                padding-top: 1rem;
                li{
                    display: none;
                    width: 100vw;
                    justify-content: start;
                    font-size: 1.15rem;
                }
            }
        }  
    a{
        text-decoration: none;
        
        .mobile-name{
            @media (min-width: 992px){
                display: none;
            }
            color: white;
            font-size: 1.15rem;
            font-weight: 200;
            li{
                text-decoration: none;
            }
        }
    }   
}
