$topBorderColor: #DC392D;

$navPriColor : #BD5D38;
$imgBorderColor : #CA7D60;
$navFontColor : #E1B6A5;
$navActiveFontColor: #FDF7F9;
$navHoverColor: #EED6CD;
$iconBorderColor: #495057;

$sectionFontColor1: #343A40;
$sectionFontColor2: #BD5D38;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gabarito&family=Teko:wght@600&display=swap');
